[submodule "submodules/era-test-node"]
	path = submodules/era-test-node
	url = git@github.com:matter-labs/era-test-node.git
[submodule "submodules/eth-tests"]
	path = submodules/eth-tests
	url = git@github.com:ethereum/tests.git
