[submodule "submodules/eth-tests"]
	path = submodules/eth-tests
	url = https://www.github.com/ethereum/tests.git
[submodule "submodules/era-test-node"]
	path = submodules/era-test-node
	url = https://www.github.com/lambdaclass/era-test-node.git
	branch = yul-console-log-vm-fixes
