[package]
name = "playground"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
p256 = { version = "0.13.2", features = ["ecdsa", "arithmetic"] }
hex = "0.4"
rand = "0.8"
sha2 = "0.10"
