name: CI
on:
  merge_group:
  push:
    branches: [main]
  pull_request:
    branches: ["*"]

concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  compile:
    name: Compile
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v3

      - name: Rustup toolchain install
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          targets: wasm32-unknown-unknown

      - name: Run cargo check
        run: cd tests && cargo check

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v3

      - name: Install stable toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          components: rustfmt, clippy

      - name: Run cargo fmt
        run: cd tests && cargo fmt --all -- --check

      - name: Run clippy
        run: cd tests && cargo clippy --all-targets --all-features -- -D warnings

  build-precompiles:
    name: "Build precompiles"
    runs-on: ubuntu-latest
    steps:
      - name: "Build precompiles"
        uses: actions/checkout@v3

      - name: "Setup requirements"
        run: make setup

      - name: copy-precompiles
        run: make copy-precompiles

      - name: "Build precompiles"
        run: make build-precompiles
  test-precompiles:
    name: "Run tests for precompiles"
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout"
        uses: actions/checkout@v3

      - name: Setup rust nightly
        uses: dtolnay/rust-toolchain@nightly

      - name: Setup project
        run: make setup
      - name: Build test node
        run: make build-test-node

      # - name: Wait for era test node to build
      #   run: |
      #     PORT=8011
      #     nc -l -p $PORT &
      #     NC_PID=$!
      #     timeout 600 tail -f /dev/null
      #     kill $NC_PID
      #     echo "Timeout: Test node did not start ..."


      - name: Run tests
        working-directory: tests
        run: cargo test
